<form action="/savestylesheet" method="post">
<input type="hidden" name="Url" value="{{.Url}}" />

<h2>Contents</h2>

<textarea name="Contents" rows="30" cols="69">{{.Contents}}</textarea>

<p>
  <input type="submit" name="Submit" value="Save" />
  <input type="submit" name="Submit" value="Delete this stylesheet" /></p>
</p>
</form>
