<div class="box">
<h1>Configuration</h1>

<form method="post" action="/_saveconfig">

<h2>Authorized editors</h2>
<p>A comma-separated list of gmail addresses of authorized content editors.</p>
<p><input type="text" name="Editors" size="80" value="{{range $i, $elt := .Editors}}{{if $i}},{{end}}{{. | html}}{{end}}"></input></p>

<p><input type="submit" name="submit" value="Save changes"></input></p>
</form>
</div>
