<form action="/_savetemplate" method="post">
<h1>Contents</h1>

<textarea name="Contents" rows="40" cols="80">{{.Contents | html}}</textarea>

<input type="hidden" name="Url" value="{{.Url | html}}" />

<p>
  <input type="submit" name="Submit" value="Save" />
  <input type="submit" name="Submit" value="Delete this template" />
</p>
</form>
